<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="addSerializeUid" value="true" />
        <option name="generateService" value="true" />
        <option name="generateServiceInterface" value="true" />
        <option name="javaMapperPackage" value="com.cdsxt.ego.rpc.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/ego-rpc/ego-rpc-mapper/src/main/java" />
        <option name="javaModelPackage" value="com.cdsxt.ego.rpc.pojo" />
        <option name="javaModelPath" value="E:\code\idea_workspace\ego\ego-rpc\ego-rpc-pojo\src\main\java" />
        <option name="lastDatabaseCrudChooseModuleName" value="ego-rpc-mapper" />
        <option name="lombokDataAnnotation" value="true" />
        <option name="modelAddToString" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="ego-rpc-mapper">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.cdsxt.ego.rpc.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/ego-rpc/ego-rpc-mapper/src/main/java" />
                  <option name="javaModelPacakge" value="com.cdsxt.ego.rpc.pojo" />
                  <option name="javaModelPath" value="E:\code\idea_workspace\ego\ego-rpc\ego-rpc-pojo\src\main\java" />
                  <option name="javaServiceInterfacePackage" value="com.cdsxt.ego.rpc.service" />
                  <option name="javaServiceInterfacePath" value="E:\code\idea_workspace\ego\ego-rpc\ego-rpc-service\src\main\java" />
                  <option name="javaServicePackage" value="com.cdsxt.ego.rpc.service.impl" />
                  <option name="javaServicePath" value="E:\code\idea_workspace\ego\ego-rpc\ego-rpc-service-impl\src\main\java" />
                  <option name="xmlPackage" value="com.cdsxt.ego.rpc.mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/ego-rpc/ego-rpc-mapper/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="ego:tb_content">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TbContent" />
                  <option name="moduleName" value="ego-rpc-mapper" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="ego:tb_content_category">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TbContentCategory" />
                  <option name="moduleName" value="ego-rpc-mapper" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="ego:tb_item">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="TbItem" />
                  <option name="moduleName" value="ego-rpc-mapper" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="ego:tb_item_cat">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TbItemCat" />
                  <option name="moduleName" value="ego-rpc-mapper" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="ego:tb_item_desc">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="TbItemDesc" />
                  <option name="moduleName" value="ego-rpc-mapper" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="ego:tb_item_param">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TbItemParam" />
                  <option name="moduleName" value="ego-rpc-mapper" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="ego:tb_item_param_item">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TbItemParamItem" />
                  <option name="moduleName" value="ego-rpc-mapper" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="ego:tb_order">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="TbOrder" />
                  <option name="moduleName" value="ego-rpc-mapper" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="ego:tb_order_item">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="TbOrderItem" />
                  <option name="moduleName" value="ego-rpc-mapper" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="ego:tb_order_shipping">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="TbOrderShipping" />
                  <option name="moduleName" value="ego-rpc-mapper" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="ego:tb_user">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TbUser" />
                  <option name="moduleName" value="ego-rpc-mapper" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="useExample" value="true" />
        <option name="xmlMapperPackage" value="com.cdsxt.ego.rpc.mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/ego-rpc/ego-rpc-mapper/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>